@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Single+Day&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(222, 218, 218)
}

#home{
    background: url("../pictures/Annotation\ 2024-02-25\ 231757.png") rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    min-height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    /* font-family: 'Roboto', sans-serif; */
font-family: 'Single Day', cursive;
}

#about{
    background-color: rgb(222, 218, 218);
}

h3{
    font-size: xx-large;
    font-weight: 900;
    color: rgb(118, 159, 13);
    font-family: 'Single Day', cursive;

}

h2{
    font-family: 'Single Day', cursive;
    color: rgb(118, 159, 13);
}

.back-to-top{
    visibility: hidden;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.icon-parent{
    
    display: flex;
    justify-content: center;
}

.icon{
    /* width: 25px; */
    /* height: 25px; */
    /* border-radius: 50%; */
    background-color: antiquewhite;
    position: relative;
    margin: 20px;
}

